// colors
$bgColorMain: #1d1d1d;
$bgColorLight: #262626;
$borderColor: #4d4d4d;
// radius
$borderRadius: 12px;

.app-wrapper {
  color: snow;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgColorMain;
}

.inventory-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 849px;
  height: 660px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.items-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  overflow: hidden;
  width: 525px;
  height: 500px;
}

.item {
  border: 1px solid $borderColor;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 100px;
  background-color: $bgColorLight;
}

.item-amount {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  border-top: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  border-top-left-radius: 5px;
}

.item-info-wrapper {
  text-align: center;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  width: 236px;
  height: 500px;
  padding: 16px;
  background-color: $bgColorLight;
}

.item-image {
  width: 208px;
  height: 240px;
  background: darkcyan;
  border-radius: 12px;
}

.inventory-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 785px;
  height: 72px;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  padding: 16px;
  margin-top: 16px;
  background-color: $bgColorLight;
}

.btn {
  border: none;
  background: none;
  color: darkgrey;
}

.footer-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 5px;
}

.footer-btn:hover {
  cursor: pointer;
  background-color: snow;
}

.item-desc {
  display: grid;
  grid-template-rows: 4fr 4fr 2fr;
  place-items: center;
  text-align: center;
  padding: 32px;
  position: absolute;
  background-color: $bgColorLight;
  opacity: 85%;
  border: 1px solid $borderColor;
  right: 0;
  overflow: hidden;
  width: 250px;
  height: 500px;
}

.item-desc-img {
  width: 130px;
  height: 130px;
  background-color: green;
}

.delete-btn {
  width: 180px;
  height: 39px;
  border-radius: 12px;
  background-color: lightcoral;
  color: snow;
  cursor: pointer;
}

.modal-remove-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-remove-container input {
  width: 180px;
  height: 39px;
  border: none;
  background-color: $bgColorMain;
  color: $borderColor;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  padding: 16px;
}

.btns-container {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-cancel {
  border: 1px solid $borderColor;
  padding: 4px 8px;
  background: #ffffff;
  border-radius: $borderRadius;
  cursor: pointer;
}

.btn-confirm {
  border: 1px solid $borderColor;
  padding: 4px 8px;
  border-radius: $borderRadius;
  background-color: lightcoral;
}

.btn-confirm:hover {
  cursor: pointer;
  background-color: coral;
}

.close-modal-btn {
  background: none;
  border: none;
  color: snow;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: coral;
}
